.dateBadge {
  position: relative;
  width: 52px;
  height: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 12px;
  background: #fff;

  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

.day {
  color: #1d1a22;
  font-size: 20px;
  line-height: 1;
  font-weight: 800;
  letter-spacing: 0;
  font-family:
    RF Dewi UltraBold,
    Source Code Pro,
    SF Pro Text,
    SF Pro Display,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    sans-serif;
}

.month {
  color: #7b57f6;
  font-size: 10px;
  line-height: 1;
  font-weight: 800;
  letter-spacing: 0;
  text-transform: uppercase;
  font-family:
    RF Dewi UltraBold,
    Source Code Pro,
    SF Pro Text,
    SF Pro Display,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    sans-serif;
}
