.trainingList {
  @media (max-width: 1110px) {
    max-width: 100%;
  }

  &__loader {
    font-size: 18px;
    font-weight: 800;
    overflow-x: hidden;
    width: 40%;

    &-dots::after {
      content: "";
      animation: loaderDotsAnim 1s infinite forwards;
    }
  }
}

@keyframes loaderDotsAnim {
  0% {
    content: "";
  }

  25% {
    content: ".";
  }

  50% {
    content: "..";
  }

  75%,
  100% {
    content: "...";
  }
}
